page-categories {
	.div3{
		color: white;
        padding: 6% 0px 6% 0px; 
        text-align: center;
        background-color:rgb(255, 171, 74);
        border-radius: 6px;
        margin-top: 5px !important;
        margin-left: 10px;
       /* height:100%!important;*/
        ion-row{
        	margin-top: 5px;
            height: 100%!important;
            margin-left: 10px;
        }
    }
   .card-md p{
   		color: #fff !important ;
    }
    
}
